body {
  background-color: #1a166b;
}

.intro {
  color: #796c22;
}

.container {
  background-color: antiquewhite;
  color: #796c22;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
}
